

html.dark {
  /* 自定义深色背景颜色 */
--door:#514c4c;

  --header_background:#514c4c;
  --header_font:#d0e3d3;
  --header_slogen_font:#e2b2c0;

  --home_background:#0B161C;

  --footer_background: #514c4c;

  --news_activate_background: #9a8d6a;
  --news_deactivate_background: #CCBE97;
  --news_content: #a93920;
  --small_screen_menu_bg:#514C4C;
  --small_screen_menu_font:rgb(134, 167, 229);
  --small_screen_menu_font_activate:rgb(139, 8, 28);
  

  --markdown_article_title:white;
  --markdown_article_body_deactivated:#0B161C;
  --markdown_article_body_activated:#192c35;

  --el-bg-color: black;

  --el-dialog-bg-color: black;
}