@font-face {
  font-family: "iconfont"; /* Project id 4603433 */
  src: url('@/assets/font/iconfont.woff2') format('woff2'),
       url('@/assets/font/iconfont.woff') format('woff'),
       url('@/assets/font/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoucang_shixin:before {
  content: "\eca6";
}

.icon-tingzhi1:before {
  content: "\e649";
}

.icon-chess-knight:before {
  content: "\e608";
}

.icon-Chinese:before {
  content: "\e603";
}

.icon-robot1:before {
  content: "\e66e";
}

.icon-shengyin:before {
  content: "\e87c";
}

.icon-e-learning-monitor:before {
  content: "\e68c";
}

.icon-chess-horse:before {
  content: "\e68b";
}

.icon-chess-pawn:before {
  content: "\e68d";
}

.icon-great1:before {
  content: "\e60e";
}

.icon-chess-king:before {
  content: "\e604";
}

.icon-chess-knight1:before {
  content: "\e606";
}

.icon-chess-rook:before {
  content: "\e607";
}

.icon-copy:before {
  content: "\e60a";
}

.icon-tingzhi2:before {
  content: "\e800";
}

.icon-copy1:before {
  content: "\e624";
}

.icon-robot2:before {
  content: "\e7ee";
}

.icon-top_gerenxinxi:before {
  content: "\e611";
}

.icon-learn-jiqixuexi:before {
  content: "\e8a2";
}

.icon-stop-circle:before {
  content: "\ea91";
}

.icon-fanhuidingbu2:before {
  content: "\e657";
}

.icon-icon-See:before {
  content: "\e60b";
}

.icon-copy2:before {
  content: "\e67f";
}

.icon-comment1:before {
  content: "\e691";
}

.icon-a-Rectangle2Copy22:before {
  content: "\e64f";
}

.icon-shengyin06-mianxing:before {
  content: "\e6ec";
}

.icon-a-ICONmention:before {
  content: "\e612";
}

.icon-a-ICONmention_cancel:before {
  content: "\e618";
}

.icon-password:before {
  content: "\e738";
}

.icon-ban1:before {
  content: "\eaf5";
}

.icon-copy3:before {
  content: "\eb18";
}

.icon-ClearNight-qing-yewan:before {
  content: "\e60c";
}

.icon-robot3:before {
  content: "\e815";
}

.icon-stop:before {
  content: "\e68e";
}

.icon-topic_line:before {
  content: "\e7c0";
}

.icon-daytime-mode:before {
  content: "\e839";
}

.icon-chess:before {
  content: "\e60d";
}

.icon-daohang2:before {
  content: "\10183";
}

.icon-copy4:before {
  content: "\e779";
}

.icon-icon-mention:before {
  content: "\ea83";
}

.icon-yinliang-F:before {
  content: "\e652";
}

.icon-jingyin-F:before {
  content: "\e653";
}

.icon-yinliang-L:before {
  content: "\e655";
}

.icon-jingyin-L:before {
  content: "\e656";
}

.icon-shengyinluzhi-copy:before {
  content: "\e635";
}

.icon-shengyinluzhi:before {
  content: "\e674";
}

.icon-robot-3-line:before {
  content: "\ece8";
}

.icon-chess-one:before {
  content: "\eaf7";
}

.icon-a-066_dianzan:before {
  content: "\e753";
}

.icon-a-066_fenxiang-68:before {
  content: "\e754";
}

.icon-a-066_fenxiang-46:before {
  content: "\e755";
}

.icon-a-066_quanbu:before {
  content: "\e756";
}

.icon-delete:before {
  content: "\e639";
}

.icon-a-068_chongzhi:before {
  content: "\e763";
}

.icon-Chinese1:before {
  content: "\e6e3";
}

.icon-chess-queen1:before {
  content: "\e629";
}

.icon-edit_name:before {
  content: "\e60f";
}

.icon-lujing-18:before {
  content: "\e610";
}

.icon-lujing-19:before {
  content: "\e614";
}

.icon-lujing-20:before {
  content: "\e615";
}

.icon-a-juxing2221:before {
  content: "\e616";
}

.icon-lujing-7:before {
  content: "\e617";
}

.icon-a-jianqudingceng56:before {
  content: "\e619";
}

.icon-lujing-3:before {
  content: "\e61a";
}

.icon-a-ChessRook:before {
  content: "\ed4f";
}

.icon-shoucang:before {
  content: "\e61b";
}

.icon-bianji:before {
  content: "\e61c";
}

.icon-qunzu:before {
  content: "\e61d";
}

.icon-circle-close-o:before {
  content: "\e66f";
}

.icon-date:before {
  content: "\e675";
}

.icon-download:before {
  content: "\e676";
}

.icon-environment-o:before {
  content: "\e677";
}

.icon-eye-o:before {
  content: "\e678";
}

.icon-file-jpg:before {
  content: "\e67b";
}

.icon-file-pdf:before {
  content: "\e67c";
}

.icon-file-text:before {
  content: "\e67d";
}

.icon-heart-off:before {
  content: "\e680";
}

.icon-information-o:before {
  content: "\e681";
}

.icon-mail-o:before {
  content: "\e683";
}

.icon-message:before {
  content: "\e685";
}

.icon-pause-circle-o:before {
  content: "\e686";
}

.icon-link:before {
  content: "\e687";
}

.icon-play-circle-o:before {
  content: "\e688";
}

.icon-poweroff:before {
  content: "\e689";
}

.icon-share:before {
  content: "\e68f";
}

.icon-setting-o:before {
  content: "\e690";
}

.icon-user:before {
  content: "\e692";
}

.icon-wifi:before {
  content: "\e693";
}

.icon-heart-on:before {
  content: "\e694";
}

.icon-tag:before {
  content: "\e695";
}

.icon-tags:before {
  content: "\e696";
}

.icon-qingbaojiansuoicon:before {
  content: "\e61e";
}

.icon-baocun:before {
  content: "\e61f";
}

.icon-bianji1:before {
  content: "\e620";
}

.icon-huiyuanguanli:before {
  content: "\e621";
}

.icon-caidan_:before {
  content: "\e622";
}

.icon-luyin:before {
  content: "\e600";
}

.icon-liebiao:before {
  content: "\e601";
}

.icon-iconfontconment2:before {
  content: "\e605";
}

.icon-record:before {
  content: "\e6b6";
}

.icon-record1:before {
  content: "\e85f";
}

.icon-18yiban:before {
  content: "\e654";
}

.icon-good:before {
  content: "\e717";
}

.icon-deshengyinvoice23:before {
  content: "\e62a";
}

.icon-xiugaimima:before {
  content: "\e684";
}

.icon-fly:before {
  content: "\e609";
}

.icon-deshengyinvoice21:before {
  content: "\e62e";
}

.icon-good1:before {
  content: "\e62b";
}

.icon-comment:before {
  content: "\e627";
}

.icon-robot:before {
  content: "\e87d";
}

.icon-Bad:before {
  content: "\e613";
}

.icon-record2:before {
  content: "\e68a";
}

.icon-conments:before {
  content: "\e628";
}

.icon-great:before {
  content: "\e602";
}

.icon-tingzhi:before {
  content: "\e640";
}

.icon-unseen:before {
  content: "\e6e0";
}

.icon-daohang:before {
  content: "\e63b";
}

.icon-caidan:before {
  content: "\e65d";
}

.icon-daohang1:before {
  content: "\e77d";
}

.icon-caidan1:before {
  content: "\eaf1";
}

.icon-chess-queen:before {
  content: "\ef6a";
}

.icon-ban:before {
  content: "\e827";
}

.icon-arrow-to-bottom:before {
  content: "\e83c";
}

.icon-arrow-to-top:before {
  content: "\e83d";
}

.icon-conmentrefresh:before {
  content: "\e65c";
}

.icon-night:before {
  content: "\e65e";
}

.icon-shengyin_shiti:before {
  content: "\eca5";
}

