html.light {
  /* 自定义深色背景颜色 */

  --header-background: #EAE7DC;
  --header-font: #0f100f;
  --header_slogen_font: #23020c;

  --home_background: #efebec;
  --footer_background: #EAE7DC;

  --news-background: #dee6ed;

  --markdown_article_title: black;
  --markdown_article_body_deactivated:#EFEBEC;
  --markdown_article_body_activated:#F0F0E3;

  --el-bg-color: rgb(248, 241, 241);

  --el-dialog-bg-color: rgb(98, 90, 90);
}