html.light {
  /* 自定义深色背景颜色 */
  --door:#E8E1CD;
  --header_background: #EAE7DC;
  --header_font: #0f100f;
  --header_slogen_font: #f70edc;

  --home_background: #F6F6F6;
  --footer_background: #EAE7DC;


  --news_activate_background: #F6F6F6;
  --news_deactivate_background: var(--news_activate_background);
  --news_content: #0b4417;

  --small_screen_menu_bg:var(--header_background);
  --small_screen_menu_font:black;
  --small_screen_menu_font_activate:#8b081c;

  --markdown_article_title: black;
  --markdown_article_body_deactivated:#EFEBEC;
  --markdown_article_body_activated:#F0F0E3;

  --english_page_bg:#FFFFFF;
  --english_left_bg:#e0dada;
  --english_left_spilit_line:rgba(0, 0, 0,0.3);
  --english_left_funtion_item:#FFFFFF;
  --english_left_funtion_item_hover:#0A7AFF;
  --english_right_bg:#FFFFFF;
  --english_reacte_content_ai_bg:#F7F7F7;
  --english_reacte_content_user_bg:#E0EFFF;
  --english_input_area_bg:#FFFFFF;
  --english_input_area_border:#E2E2E3;
  --english_input_area_border_focus:#0A7AFF;
  --english_input_area_tip:#C4C4C6;
  --english_scrollbar_bg:var(--english_right_bg);
  --english_scrollbar:#3C3C3C;










  --watermarkColor:black;

  --el-bg-color: rgb(248, 241, 241);

  --el-dialog-bg-color: rgb(98, 90, 90);
}